<h2>Edit Application: <%= @app.name %></h2>

<%= form_for @app do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    
    <%= f.label :url %>
    <%= f.text_field :url %><br>
    
    <%= f.submit "Save Changes" %>
    
<% end %>

<%= link_to "Delete App", registered_application_path, class: "btn btn-lg btn-danger", data: {confirm: "Are you sure you want to delete #{@app.name}?"}, method: :delete %>