
<h2>Application: <%= @app.name %></h2>
<p>URL: <%= @app.url %></p>
<%= link_to "Edit This Application", edit_registered_application_path, class: "btn btn-lg btn-warning" %>
<%= link_to "Set Up Your Tracking Code", {controller: "registered_applications", action: "setup", id: @app}, class: "btn btn-lg btn-primary" %>

<h3>Events on <%= @app.url %></h3>
<div class="container">
    
    <p>Pageviews By Day</p>
    <%= line_chart @app.events.where({name: "Pageview"}).group_by_day(:created_at).count %>
    <p>Types of occurances:</p>
    <%= pie_chart @app.events.group(:name).count %>
    
    <% @events.each do |key, value| %>
        <div class="event">
            <h4><%= key %></h4>
            <p>Occurances: <%= value.count %></p>
        </div>
    <% end %>
</div>